@import "~styles/utils";

.search-bar {
  input {
    width: 60%;
    height: 70px;
    font-size: 50px;
    outline: none;
    border: none;
    border-bottom: 1px solid #181818;
    margin-bottom: 5px;
    text-align: center;

    @include media("<medium") {
      width: 80%;
      height: 6vh;
      font-size: 30px;
    }
  }
}
