@import "~styles/utils";

.info {
  min-width: 240px;
  text-align: center;

  width: 20%;
  height: 83.5vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  @include media("<large"){
    width : 100%;
    height: auto;
  }

  .main {
    background: #e9ecef;
    text-align: center;
    padding-bottom : 10px;
  }

  .details ul {
    display: none;
    position: absolute;
    bottom: 50px;
    z-index: 1;
    width: 80%;
    background-color: rgba(169, 209, 236, 0.8);
    list-style: none;
    font-size: 1rem;
    width: 90%;
    padding: 10px;
  }

  .details div:active ul {
    color: black;
    display: block;
    bottom: 100%;
    
  }

  .middle {
    height: 200px;
  }

  .details {
    position: relative;
    display: inline-block;
  }

  .dropbtn {
    background-color: #3498db;
    color: white;
    padding: 5px;
    font-size: 16px;
    border: none;
    &:hover {
      background-color: #2980b9;
    }
  }
}
