@import "~styles/utils";

.info {
  min-width: 240px;
  text-align: center;
  width: 400px;
  min-width: 325px;  
  height: calc(100vh - 140px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
  @include media("<large"){
    width : 100%;
    height: auto;
  }
  .main-wrapper{
    display: flex;
    justify-content: center;
  }

  .main {
    // background: #dbe4ff;
    text-align: center;
    padding-bottom : 10px;
    width : 95%;
    min-width: 325px;   
    // border-radius: 50px;
    height: auto;
    min-height: 200px;
    border-radius: 20px;
    

    @include material-shadow(1);
    @include media("<large"){
      padding-top : 15px;
      margin-bottom: 20px;
      display: flex;
      flex-wrap : wrap;
      width : 600px;
      justify-content: space-around;
      min-height: 0;
      border-radius: 20px;
    }
    img{
      width : 100px;
      height: auto;
    }

    .message{      
      // display : flex;
      // flex-wrap: wrap;
      // justify-content: space-around;
      @include media("<large"){
        margin-top : 10px;
      }
      .city{
        font-size : 1.5rem;
        font-weight: 700;
        
      }
      .result{
        font-size : 1.5rem;
        font-weight: 900;
      }
    }
  }

  .details ul {
    display: none;
    position: absolute;
    bottom: 50px;
    z-index: 1;
    width: 80%;
    background-color: rgba(169, 209, 236, 0.8);
    list-style: none;
    font-size: 1rem;
    width: 90%;
    padding: 10px;
  }

  .details div:active ul {
    color: black;
    display: block;
    bottom: 100%;
    
  }

  .middle-wrapper{
    display :flex;
    justify-content: center;
  }

  .middle {
    //background: $oc-red-2;
    
    text-align: center;
    height : auto;
    
    // background: #dbe4ff;
    border : 1px solid #dbe4ff;
    border-radius: 20px;
    width : 95%;
    @include material-shadow(3);
    @include media("<large"){
      margin-bottom: 20px;
    }

  }

  .details {
    position: relative;
    display: inline-block;
  }

  .dropbtn {
    background-color: #3498db;
    color: white;
    padding: 5px;
    font-size: 16px;
    border: none;
    &:hover {
      background-color: #2980b9;
    }
  }


  
.sorry{
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size : 1.5rem;
      font-weight: 600;
  @include media("<large"){
    height: auto;
    margin : 50px;
    font-size : 2rem;
  }

  .inner{
    display : block;
    .message{
      margin-top : 50px;
      
    }
  }
}
}

