@import url("//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");

body {
  margin : 0;  
}

// box-sizing 일괄 설정
* {

  outline : none;
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;    
}

// 링크 스타일 밑줄 및 색상 무효화
a {
  text-decoration: inherit;
  color: inherit;
}