@import '~styles/utils';

.father{
  display : flex;
  background: $oc-blue-3;
  justify-content: space-around;
  align-items: center;
  height : 60px;
  width : 100%;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
  margin-bottom: 5px;
  @include material-shadow(2);
  
  // margin-bottom: 10px;
  
  .nav-bar {  
    color : white;
    font-size : 2rem;
  }
}

a, a:hover, a:visited, a:active, a:link {
  text-decoration: none;
}
